html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*HERO LANDING PAGE*/
.hero-image {
    background-image: url('../img/mille-hero-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
}

.hero-text {
    margin-top: 200px;
}

.cv-text {
    color: white;
}

/*NAVBAR*/
.navbar {
    position: relative;
    background: transparent !important;
    z-index: 1;
    border: none !important;
}

.custom-container {
    width: 80%;
}

.navbar .nav-link {
    color: white;
}

    .navbar .nav-link:hover {
        color: orange !important;
    }

/*About about about*/
.about-start {
    margin-top: 93vh;
    padding-top: 35px;
    text-align: center;
    margin-bottom: 3000px;
}

.main-color {
    background-color: lightgray;
}
