body, button, input, select, optgroup, textarea {
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*GENERAL GENERAL GENERAL GENERAL*/

.toast-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9998;
    display: none;
}

.toast-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #B1F078;
    animation: toast-progress 4.5s linear;
}

@keyframes toast-progress {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

.toast-custom {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #5f8041;
    color: white;
}

    .toast-custom .toast-body {
        background-color: #5f8041;
        color: white;
    }


button:focus, .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    outline: none;
    box-shadow: none;
}


h2 {
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.card-header {
    background-color: gray;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.about-header {
    background-color: #5f8041 !important;
}

.btn-secondary {
    background-color: #5f8041;
    border: none;
}

    .btn-secondary:hover {
        background-color: #b1f078;
        border: none;
    }

.weather-color {
    color: #b1f078 !important;
}



/*HERO LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE*/

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../img/mille-hero-bg.jpg');
    background-size: cover;
    background-position: center;
}

    .hero-image::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

.hero-text, .landing-text, .btn {
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: white;
    position: relative;
}

@media (max-width: 767px) {
    .hero-text {
        margin-top: 230px;
    }
}

@media (min-width: 768px) {
    .hero-text {
        margin-top: 200px;
    }
}

.equal-width {
    display: inline-block;
    text-align: center;
}

@media (min-width: 768px) {
    .equal-width {
        width: 150px;
    }
}

@media (max-width: 767px) {
    .equal-width {
        width: 100px;
    }
}


.cv-text {
    color: white;
}

/*FOOTER FOOTER FOOTER FOOTER*/

.footer-bg {
    background-color: #FAF9F6 !important
}

.footer-mail {
    text-decoration: none;
    transition-duration: 0.3s;
}

    .footer-mail:hover {
        color: black;
        font-size: 18px;
    }

.footer-number {
    margin-top: -20px;
}
/*NAVBAR NAVBAR NAVBAR NAVBAR*/
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent !important;
    z-index: 3;
    border: none !important;
    transition: background 0.3s ease;
}

.navbar-nav .nav-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar.scrolled {
    background: #FAF9F6 !important;
    color: black !important;
}

    .navbar.scrolled .navbar-brand {
        color: black !important;
    }

    .navbar.scrolled .nav-link {
        color: black !important;
    }

        .navbar.scrolled .nav-link:hover {
            color: #455734 !important;
        }

        .navbar.scrolled .nav-link.weather-color:hover {
            color: #5f8041 !important;
        }



.custom-container {
    width: 80%;
}

.navbar .nav-link:hover {
    color: #b1f078 !important;
}

.navbar .nav-link.weather-color:hover {
    color: white !important;
}


/*ABOUT ABOUT ABOUT ABOUT ABOUT*/

.about-me-card {
    transition: transform 0.3s;
}

    .about-me-card:hover {
        transform: scale(1.03);
    }

.knowledge-start, .portfolio-start, .reference-start, .contact-form-start {
    padding-top: 65px;
    text-align: center;
}

.about-start {
    margin-top: 100vh;
    padding-top: 65px;
    text-align: center;
}


.main-color {
    background-color: lightgray;
}

.about-start .img-fluid {
    max-width: 100%;
    height: auto;
}

.about-start .card {
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.about-start .card-title {
    font-weight: bold;
    color: #5f8041;
}

.about-start .card-text {
    color: #333;
}

@media (min-width: 768px) and (max-width: 2000px) {
    .card-body.row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}




/*KNOWLEDGE KNOWLEDGE KNOWLEDGE KNOWLEDGE*/

.knowledge-card {
    transition: transform 0.3s;
}

    .knowledge-card:hover {
        transform: scale(1.05);
    }


.skill-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    background-color: white;
}

.knowledge-start h2 {
    display: block;
    background-color: #5f8041;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
}

/*PORTFOLIO / PROJECT PORTFOLIO / PROJECT PORTFOLIO / PROJECT*/
.card-img {
    float: left;
    width: 20%;
    height: auto;
    margin-right: 10px;
}

.btn-fixed-width {
    width: 150px;
    text-align: center;
}

.project-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project.card {
    flex: 1 0 auto;
}

@media (max-width: 767px) {
    .project-container {
        flex-direction: column;
    }
}

.btn-show-more {
    background-color: gray;
}

    .btn-show-more:hover {
        background-color: lightgray
    }

.tech-icon {
    width: 50px;
    height: 40px;
    object-fit: cover;
}

.portfolio-start h2 {
    display: block;
    background-color: #5f8041;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
}

.project-img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 767px) {
    .project-img {
        width: 100%;
        height: auto;
    }
}

.text-collapsed {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}



/*REFERENCE REFERENCE REFERENCE REFERENCE*/

.reference-start .card-body p {
    font-style: italic;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .reference-role {
        height: 80px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .reference-card {
        height: 500px;
    }
}


.reference-start h2 {
    display: block;
    background-color: #5f8041;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
}

.card-header .row > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body .row > div {
    display: flex;
    align-items: center;
}

.star-color {
    color: yellow;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
}


.reference-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.quote-left {
    font-size: 2em;
    padding-right: 4px;
    position: relative;
    top: -0.5em;
    color: #5f8041;
}

.quote-right {
    font-size: 2em;
    position: relative;
    bottom: -0.5em;
    padding-left: 4px;
    color: #5f8041;
}


/*CONTACT CONTACT CONTACT CONTACT*/

@media (max-width: 767px) {
    .icon-mobile-row {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .social-links-mobile {
        margin-bottom: 60px;
    }

    .mobile-contact-form {
        margin-bottom: -90px;
    }
}

.large-icon {
    font-size: 3.5em;
    color: #5F8041;
    transition-duration: 0.3s;
}

    .large-icon:hover {
        color: #b1f078;
    }


@media (min-width: 767px) {
    .height-social-card {
        height: 210px;
    }
}

.contact-form-start h2 {
    display: block;
    background-color: #5f8041;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .contact-form-start form {
        max-width: 100%;
        margin: 0 auto;
    }
}

.top-left-contact {
    padding-right: 5px;
}

.top-right-contact {
    padding-left: 5px;
}

.contact-btn {
    margin-bottom: 100px;
}
