body, button, input, select, optgroup, textarea {
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*GENERAL GENERAL GENERAL*/

.card {
    transition: transform 0.3s;
}

    .card:hover {
        transform: scale(1.05);
    }

.card-header {
    /*background-color: #71994d;*/
    background-color: #5f8041;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-info {
    background-color: #5f8041;
    border: none;
}

    .btn-info:hover {
        background-color: #b1f078;
        border: none;
    }

.weather-color {
    color: #b1f078 !important;
}



/*HERO LANDING PAGE*/
.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../img/mille-hero-bg.jpg');
    background-size: cover;
    background-position: center;
}

    .hero-image::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4); /* Ändra sista värdet för att justera mörkheten */
        z-index: 1;
    }

.hero-text, .landing-text, .btn {
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: white;
    position: relative;
}

@media (max-width: 767px) {
    .hero-text {
        margin-top: 260px;
    }
}

@media (min-width: 768px) {
    .hero-text {
        margin-top: 200px;
    }
}

.equal-width {
    display: inline-block;
    text-align: center;
}

@media (min-width: 768px) {
    .equal-width {
        width: 150px;
    }
}

@media (max-width: 767px) {
    .equal-width {
        width: 100px;
    }
}


.cv-text {
    color: white;
}

/*NAVBAR*/
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent !important;
    z-index: 3;
    border: none !important;
    transition: background 0.3s ease;
}


    .navbar.scrolled {
        background: #FAF9F6 !important;
        color: black !important;
    }

        .navbar.scrolled .navbar-brand {
            color: black !important;
        }

        .navbar.scrolled .nav-link {
            color: black !important;
        }

            .navbar.scrolled .nav-link:hover {
                color: #455734 !important;
            }

            .navbar.scrolled .nav-link.weather-color:hover {
                color: #5f8041 !important;
            }



.custom-container {
    width: 80%;
}

.navbar .nav-link:hover {
    color: #b1f078 !important;
}

.navbar .nav-link.weather-color:hover {
    color: white !important;
}


/*About about about*/
.knowledge-start, .portfolio-start, .reference-start, .contact-form-start {
    padding-top: 65px;
    text-align: center;
}

.about-start {
    margin-top: 100vh;
    padding-top: 65px;
    text-align: center;
}


.main-color {
    background-color: lightgray;
}

@media (max-width: 767px) {
    .card-img {
        width: 50% !important; /* Adjust as needed */
    }
}


/*KNOWLEDGE KNOWLEDGE*/

.skill-image {
    width: 100px; /* Ändra till önskad bredd */
    height: 100px; /* Ändra till önskad höjd */
    object-fit: contain;
}


/*PORTFOLIO / PROJECT*/
.card-img {
    float: left; /* Placerar bilden till vänster */
    width: 20%; /* Ställer in bredden på bilden till 20% av kortets bredd */
    height: auto; /* Behåller bildens ursprungliga proportioner */
    margin-right: 10px; /* Lägger till lite utrymme till höger om bilden */
}

.tech-icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/*REFERENCE REFERENCE REFERENCE*/

.card-header .row > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body .row > div {
    display: flex;
    align-items: center;
}

.star-color {
    color: yellow;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
}


.reference-image {
    width: 100%;
}

.quote-left {
    font-size: 2em;
    position: relative;
    top: -0.5em;
    color: #5f8041;
}

.quote-right {
    font-size: 2em;
    position: relative;
    bottom: -0.5em;
    color: #5f8041;
}


/*CONTACT CONTACT CONTACT*/

@media (min-width: 768px) {
    .contact-form-start form {
        max-width: 50%;
        margin: 0 auto;
    }
}

.top-left-contact {
    padding-right: 5px;
}

.top-right-contact {
    padding-left: 5px;
}

.contact-btn {
    margin-bottom: 100px;
}
