@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@* HERO LANDING PAGE *@
@await Html.PartialAsync("_LandingPage")



@* ABOUT INFORMATION  *@
<section id="about">
    @await Html.PartialAsync("_About")
</section>