@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@* HERO LANDING PAGE *@

<div class="hero-image">
    <div class="text-center">
        <h1 class="display-4 hero-text">Hi, my name is Mille Elfver</h1>
        <p>I'm a .NET Developer</p>
    </div>
</div>


@* CV INFORMATION  *@

<section>
    <div class="cv-start">
        <h2>Mitt CV</h2>
    </div>
</section>