<div class="about-start container">
    <div class="card shadow">
        <h2 class="card-header about-header">Mille Elfver</h2>
        <div class="card-body row">
            <div class="col-md-4 mt-4">
                <img src="~/img/mille-me.jpg" class="img-fluid" alt="Mille Elfver">
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <h3 class="card-title">Om mig</h3>
                        <p class="card-text">
                            Jag heter Mille Elfver och jag studerar för att bli en skicklig .NET-utvecklare.
                            Jag trivs med utmaningar och älskar att lösa problem.
                        </p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h3 class="card-title">Personliga intressen</h3>
                        <p class="card-text">
                            Utanför programmeringsvärlden har jag ett stort intresse för vandring.
                            Jag älskar att lära mig nya saker och strävar alltid efter att utvecklas både personligt och professionellt.
                        </p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h3 class="card-title">Tekniska färdigheter</h3>
                        <p class="card-text">
                            Jag har skaffat mig en bred kunskapsbas inom .NET, C#, OOP, relationella databaser,
                            SQL, webbutveckling, React, HTML, CSS och mycket mer. Jag är alltid ivrig att lära
                            mig nya tekniker och verktyg för att förbättra mina färdigheter.
                        </p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h3 class="card-title">Proffessionella mål</h3>
                        <p class="card-text">
                            För närvarande söker jag aktivt efter LIA (praktik) möjligheter.
                            Jag är övertygad om att jag har mycket att erbjuda och ser fram emot
                            att bidra till ett team med mina kunskaper och entusiasm. Jag älskar att arbeta i grupp och självständigt.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
