<div class="about-start container">
    <div class="card shadow">
        <h2 class="card-header">Mille Elfver</h2>
        <p class="card-body">
            <img src="~/img/mille-me.jpg" alt="Mille Elfver" class="card-img">
            Jag heter Mille Elfver och är för närvarande student på
            KYH Yrkeshögskola där jag studerar för att bli en
            skickling .NET-utvecklare.
            Jag vänder mig till er med förhoppningen att få möjlighet
            till en praktikplats (LIA) inom ert företag.
            Min praktikperiod sträcker sig från 9 december 2024 till 25
            april 2025, och jag ser ert företag som en spännande
            möjlighet att utveckla mina färdigheter inom .NETutveckling och bidra till era projekt.
            Under min utbildning har jag fördjupat mig i flera centrala
            områden, däribland:
            • C#
            • ASP.NET Razor & MVC
            • RESTful API
            • GIT och GitHub
            • Azure
            • Entity Framework (EF)
            • SQL och relationella databaser
            • Design patterns, DRY, SOC och SOLID
            • HTML , CSS, JavaScript & React
            Dessutom har jag utvecklat goda samarbetsförmågor och
            trivs både med att arbeta i grupp och självständigt. Jag
            beskrivs ofta som en positiv och lyhörd person som är
            snabbtänkt och redo att ta mig an nya utmaningar.
            Jag är övertygad om att jag kan bidra till era projekt och
            samtidigt få möjlighet att växa och utvecklas som .NETutvecklare genom att göra min praktik hos er.
            Jag ser fram emot att få möjlighet att diskutera mina
            färdigheter och hur jag kan bidra till ert team. Vänligen
            kontakta mig via e-post eller telefon om ni är intresserade.
            Tack för er tid och jag ser fram emot att höra från er
        </p>
    </div>
</div>
