<div class="about-start container">
    <div class="card shadow">
        <h2 class="card-header about-header">Mille Elfver</h2>
        <div class="card-body row">
            <div class="col-md-4">
                <img src="~/img/mille-me.jpg" class="img-fluid" alt="Mille Elfver">
            </div>
            <div class="col-md-8">
                <div class="card mb-3 about-me-card">
                    <div class="card-body">
                        <h3 class="card-title">Om mig</h3>
                        <p class="card-text">
                            Jag heter Mille Elfver och är en .NET-utvecklare med 2 års erfarenhet från utbildning och praktik.
                            Jag älskar programutveckling och är öppen för nya möjligheter.
                        </p>
                    </div>
                </div>
                <div class="card mb-3 about-me-card">
                    <div class="card-body">
                        <h3 class="card-title">Personliga intressen</h3>
                        <p class="card-text">
                            Utanför programmeringsvärlden har jag ett stort intresse för vandring.
                            Jag tycker om datorspel och är väldigt teknikintresserad, både hårdvara och mjukvara.
                        </p>
                    </div>
                </div>
                <div class="card mb-3 about-me-card">
                    <div class="card-body">
                        <h3 class="card-title">Tekniska färdigheter</h3>
                        <p class="card-text">
                            Jag har skaffat mig en bred kunskapsbas inom .NET, jag är nyfiken som person och lär mig ständigt nya tekniker.
                        </p>
                    </div>
                </div>
                <div class="card mb-3 about-me-card">
                    <div class="card-body">
                        <h3 class="card-title">Professionella mål</h3>
                        <p class="card-text">
                            Jag söker aktivt efter en roll som .NET-utvecklare, tveka inte att höra av dig!
                            Jag har mycket att erbjuda och är hungrig till att växa inom min roll som utvecklare.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
