@{
    var skills = new Dictionary<string, string>
    {
        { "C#", "./img/technologies/csharp-icon.jpg"},
        { ".NET Core", "./img/technologies/net.core-icon.png"},
        { "ASP.NET", "./img/technologies/asp.net.logo.png" },
        { "MVC", "./img/technologies/asp.net-mvc-icon.jpg"},
        { "LINQ", "./img/technologies/linq.jpg" },
        { "EF Core", "./img/technologies/EFC.png"},
        { "SQL", "./img/technologies/SQL.jpg"},
        { "SSMS", "./img/technologies/SSMS.png"},
        { "Git", "./img/technologies/git-icon.png"},
        { "GitHub", "./img/technologies/GitHub-icon.jpg"},
        { "Azure", "./img/technologies/azure.svg"},
        { "React", "./img/technologies/react-icon.png"},
        { "HTML", "./img/technologies/html-icon.jpg"},
        { "CSS", "./img/technologies/css-icon.png"},
        { "JavaScript", "./img/technologies/javascript-icon.webp"},
    };
}

<div class="knowledge-start container">
    <h2 class="mb-4 shadow">Kunskaper</h2>
    <div class="row">
        @foreach (var skill in skills)
        {
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card knowledge-card mb-3 shadow">
                    <div class="card-header">
                        <h5>@skill.Key</h5>
                    </div>
                    <div class="card-body">
                        <img src="@skill.Value" alt="@skill.Key image" class="img-fluid skill-image">
                    </div>
                </div>
            </div>
        }

    </div>
</div>



@*  "LINQ", "ASP.NET", "SQL", "React", "C#", "Git", "Azure", "JavaScript", "ASP.NET MVC", "HTML", ".NET Core", "CSS" }) *@
