<div class="hero-image">
    <div class="text-center ">
        <h1 class="display-4 hero-text landing-text">Hej, mitt namn är Mille Elfver</h1>
        <h3 class="landing-text">Jag är en .NET-utvecklare</h3>
        <a href="~/downloads/Mille Elfver - CV.pdf" download class="btn btn-info land-btn equal-width shadow">
            <i class="fa-solid fa-file-arrow-down cv-text"></i>&ensp;CV
        </a>
        <a class="btn btn-info land-btn equal-width shadow" href="#contact">Kontakt</a>

    </div>
</div>