<div class="hero-image">
    <div class="text-center ">
        <h1 class="display-4 hero-text landing-text">Mille Elfver</h1>
        <h3 class="landing-text">.NET-utvecklare</h3>
        <a href="https://www.linkedin.com/in/mille-elfver-4428ab171/" target="_blank" rel="noopener noreferrer" class="btn btn-secondary equal-width shadow left-btn">
            <i class="fa-brands fa-linkedin"></i>&ensp;LinkedIn
        </a>
        <a class="btn btn-secondary equal-width shadow right-btn" href="#contact"><i class="fa-regular fa-address-card"></i>&ensp;Kontakt</a>
    </div>
</div>