<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Milles Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MillePortfolio.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/img/portfolio.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-transparent border-bottom box-shadow mb-3 navbar-scrolled">
            <div class="container custom-container">
                <a class="navbar-brand text-white d-sm-none" asp-area="" asp-page="/Index">Mille Elfver</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item d-none d-sm-block">
                            <a class="navbar-brand nav-link text-white" asp-area="" asp-page="/Index">Mille Elfver</a>
                        </li>
                        <li class="nav-item">
                            @await Component.InvokeAsync("Weather")
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#about">Om mig</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#knowledge">Kunskaper</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#portfolio">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#reference">Referenser</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#contact">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="https://github.com/Milles98" target="_blank"><i class="fa-brands fa-github" style="margin-right: 3px;"></i>GitHub</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="https://www.linkedin.com/in/mille-elfver-4428ab171/" target="_blank"><i style="margin-right: 3px;" class="fa-brands fa-linkedin"></i>LinkedIn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <main role="main" class="pb-3 main-color">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted footer-bg">
        <div class="container text-center">
            &copy; 2024 - Milles Portfolio -
            <a href="mailto:mille.elfver98@gmail.com">mille.elfver98@gmail.com</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        window.addEventListener("scroll", function () {
            var navbar = document.querySelector(".navbar");
            var navbarBrand = document.querySelector(".navbar .navbar-brand");
            var navbarToggler = document.querySelector(".navbar .navbar-toggler");
            var isScrolled = window.scrollY > 0;
            navbar.classList.toggle("scrolled", isScrolled);
            navbarBrand.style.color = isScrolled ? "black" : "white";
            navbarToggler.style.color = isScrolled ? "black" : "white";
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>