<div class="reference-start container">
    <h2 class="mb-4 shadow">Referenser</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow mb-3">
                <div class="card-header">
                    <div class="row">
                        <!-- För storskärm -->
                        <div class="col-md-4 d-none d-md-block">
                        </div>
                        <div class="col-md-8 text-center d-none d-md-block">
                            <h5>Viktor Sarafraz</h5>
                            <div>Telia - administratör mobilabonnemang </div>
                        </div>
                        <!-- För mobilläge -->
                        <div class="col-12 text-center d-block d-md-none">
                            <h5>Viktor Sarafraz</h5>
                            <div>Telia - administratör mobilabonnemang </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <img src="../img/references/telia-logo.jpg" class="img-fluid reference-image" alt="Daniel Larsson">
                        </div>
                        <div class="col-8">
                            <i class="fa-solid fa-quote-left quote-left"></i>
                            <p>Except from being a great co-worker, he is great at teaching others as well. He is a quick-learner and also appreciated by both management as well as colleagues. I strongly recommend him.</p>
                            <i class="fa-solid fa-quote-right quote-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow mb-3">
                <div class="card-header">
                    <div class="row">
                        <!-- För storskärm -->
                        <div class="col-md-4 d-none d-md-block">
                        </div>
                        <div class="col-md-8 text-center d-none d-md-block">
                            <h5>Rickard Pettersson</h5>
                            <div>Nackademin Java-student</div>
                        </div>

                        <!-- För mobilläge -->
                        <div class="col-12 text-center d-block d-md-none">
                            <h5>Rickard Pettersson</h5>
                            <div>Nackademin Java-student</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <img src="../img/references/nackademin.png" class="img-fluid reference-image" alt="Reference Name">
                        </div>
                        <div class="col-8">
                            <i class="fa-solid fa-quote-left quote-left"></i>
                            <p>Mille Elfver är en utmärkt .NET-student med bred kunskapsbas. Tillsammans har vi exempelvis löst Leetcode problem. Han är snabblärd, bra på problemlösning, omtänksam och social.</p>
                            <i class="fa-solid fa-quote-right quote-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add another card here -->
    </div>
</div>
