<div class="reference-start container">
    <h2>Referenser</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-8 text-center">
                            Daniel Larsson
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <img src="../img/mille-me.jpg" class="img-fluid reference-image" alt="Daniel Larsson">
                        </div>
                        <div class="col-8">
                            <i class="fa-solid fa-quote-left quote-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum fringilla augue nec aliquet. Nam id dui quis libero.</p>
                            <i class="fa-solid fa-quote-right quote-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-8 text-center">
                            Daniel Larsson
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <img src="../img/mille-me.jpg" class="img-fluid reference-image" alt="Daniel Larsson">
                        </div>
                        <div class="col-8">
                            <i class="fa-solid fa-quote-left quote-left"></i>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum fringilla augue nec aliquet. Nam id dui quis libero.</p>
                            <i class="fa-solid fa-quote-right quote-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add another card here -->
    </div>
</div>
